
    .notfound {
        text-align: center;
        padding: 40px;
        font-size: 50px;
        
        .notfound-code {
          font-size: 72px;
          color: #ff6060; /* Exemple de couleur */
          margin-bottom: 100px;
          margin-top: 110px;
          font-size: 150px;
        }
        
        .notfound-message {
          font-weight: 500;
          font-size: 28px;
          color: #ff6060;
          margin-top: -10px;
        }

        .notfound-link {
            display: inline-block;
            margin-top: 50px;
            font-size: 15px;
            font-weight: 500;
            color: black;
            text-decoration: none;
            transition: color 0.3s;
            text-decoration: underline;
            
            &:hover {
              color: black;
              font-weight: 700;
            }
        }
      }