.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 90%;
    margin: 0; // annule les marges héritées
    padding: 0; 
    margin-left: -10px;
    
    }
.about {
    width: 85vw;
}