.logement-header {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
  }
  
  .logement-details {   
    flex: 0 0 60%;  /* 60% de large */   
  }

  /* forcer le titre sur 1 ligne */
  .logement-details h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; /* retrait marges inutiles*/
    font-size: 29px; 

  }

  /* Style pour le profil du propriétaire */
  .host-profile {
    flex: 0 0 30%;  /* 30% largeur */    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .host-picture {   
    height: 4rem;
    border-radius: 50%;    
  }
  
  .host-name {
    margin-right: 250px;
    margin-top: -19px;
    font-size: 16px;
    color: #ff6060;
  }
  
  .host-rating {
    display: flex;
    gap: 5px;
    margin-top: 0.16px;  /* espace nom - etoiles*/
    font-size: 1.2rem;  
  }

  .filters {
    margin-top: 0.5em; /* espace localisation - filtres*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .logement-location {
    font-size: 1.2rem;
    color: #555;
    margin: 8px 0; /* espace titre - localisation*/
  }

  .logement-collapses {
    display: flex;
    gap: 20px; /* ecart entre collapse */
    margin-top: 16px;
  }
  
  .logement-collapses > * {
    flex: 1; /* meme largeur tous collapse*/
    color: #fff;
    padding: 16px; /* espace interne */
    border: none;
  }
  
