
.apartment-grid {
    display: grid;
    grid-template-columns: repeat(3, 340px); // 3 colonnes de 340px
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); // hauteur mini de 250px
    gap: 70px; 
    max-width: 1200px; // largeur max de la grille
    margin: auto; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    }
    a {
      text-decoration: none !important;
      color: inherit;
    }
  
  .apartment-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 340px;
    height: 340px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  
  &:hover {
    transform: scale(1.05);
  }

  .apartment-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0; 
  }
  .apartment-description {
    padding: 10px;
    font-size: 14px;
    color: #666;
  }
  .apartment-title {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    background-color: #ff6060;

  }

  h3 {
    padding: 10px;
    font-size: 18px;
    color: #333;
  }
}
