.apartment-grid {
  display: grid;
  grid-template-columns: repeat(3, 340px); // 3 colonnes 
  
  gap: 70px;

  margin: auto;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1200px;

  @media screen and (min-width: 800px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 100%;
  }

  @media screen and (min-width: 500px) and (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .apartment-card-link {
    width: 100%;
    height: 100%;

    .apartment-card {
      background-color: #fff;
      position: relative;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      transition: transform 0.3s ease-in-out;
      width: 100%;
      padding: 0;
      height: 340px;

      &:hover {
        transform: scale(1.05);
      }

      .apartment-image {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }

      .apartment-description {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        color: #666;
        height: 100%;
        background-color: #fff;
        border-radius: 0 0 8px 8px;
      }

      .apartment-title {
        position: absolute;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-align: left;
        bottom: 0px;
        left: 0px;
        right: 0px;
        white-space: normal;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
      }

      h3 {
        font-size: 18px;
        color: #333;
      }
    }

  }
}