.container {
    background-color: rgb(242, 239, 239); // Choisis la couleur que tu souhaites
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center; // Centre la grille à l'intérieur
    align-items: center; // Alignement vertical si nécessaire
    width: 100%;
  }
  