.collapse {
    //border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    //overflow: hidden;
    width: 1000px;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //margin: auto;
  }
  
  .collapse-header {
    background-color: #ff6060;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
  
  
    h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
  }
  
  .fa-chevron-up {
    transition: transform 0.3s ease;
    color: #fff !important;
    font-size: 22px;
    //font-weight: 900;
  }
}

    .open {
    transform: rotate(180deg);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden; /* masque le contenu quand il est fermé */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    &.open {
      /* Quand le collapse est ouvert, on veut que le contenu soit visible */
      overflow: visible; 
    }
  }
  
  .collapse-content {
    padding: 15px;
    background-color: #fff;
    font-size: 14px;
    color: black; 
  }
  