.collapse {
    //border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
    //overflow: hidden;
    width: 62.5rem;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //margin: auto;
  }
  
  .collapse-header {
    background-color: #ff6060;
    padding: 0.8rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.6rem;
  
  
    h2 {
    margin: 0;
    font-size: 1.12rem;
    color: #fff;
    border-radius: 0.3rem;
    font-weight: 400;
  }
  
  .fa-chevron-up {
    transition: transform 0.3s ease;
    color: #fff !important;
    font-size: 1.35rem;
    //font-weight: 900;
  }
}

    .open {
    transform: rotate(180deg);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden; /* masque le contenu quand il est fermé */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    &.open {
      /* Quand le collapse est ouvert, on veut que le contenu soit visible */
      overflow: visible; 
    }
  }
  
  .collapse-content {
    padding: 1rem;
    background-color: #fff;
    font-size: 0.8rem;
    color: black; 
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }