.header {
    background-color: #fff; 
    padding: 1.25rem;
    
    .header-container {
      max-width: 90rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .header-logo {
      height: 2.5rem; 
      margin-left: -4rem;
    }
    
    
    
  }

  /* Pour tablettes (max-width: 768px) */
@media screen and (max-width: 768px) {
  .header {
    height: 8rem;         
    margin: 0.75rem;  
    //border-radius: 1rem;   
    margin-left: -5.6rem;
    width: 165%;
    //margin-left: 155px;
    margin-bottom: -5.18rem;
    }

  

  .header-logo {
    height: 2.5rem; 
    margin-top: -190px;
    margin-left: 1rem;
  }

  .header-nav ul {
    height: 10rem;        
    //margin: 1rem;    
    //border-radius: 1.2rem; 
    //width: 170%;
    //margin-left: -25px;
  }
  
  
  /*.banner_overlay {
    h1 {
      font-size: 1.3rem;  
    }
  }*/
  
  /*.banner-text {
    font-size: 1.3rem;
  }*/
}

/* Pour smartphones (max-width: 480px) */
@media screen and (max-width: 480px) {
  .header {
    height: 8rem;         
    margin: 0.75rem;  
    //border-radius: 1rem;   
    margin-left: -5.6rem;
    width: 315%;
    //margin-left: 155px;
    margin-bottom: -5.18rem;
    }

  

  .header-logo {
    height: 2.5rem; 
    margin-top: -190px;
    margin-left: 1rem;
  }
  
  /*.banner_overlay {
    h1 {
      font-size: 1.1rem;  
    }
  }
  
  .banner-text {
    font-size: 1.1rem;
  }*/
}
  