.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;

}

.filter {
  background-color: #FF6060; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;

}
