.filters {
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
  gap: 10px;
  margin-bottom: 16px;
=======
  gap: 0.6rem;
  margin-bottom: 1rem;
>>>>>>> 0ec1a3b33b8dca9169724801caddbf96331d070d
}

.filter {
  background-color: #FF6060; 
  color: #fff;
<<<<<<< HEAD
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
=======
  padding: 0.3rem 0.6rem;
  border-radius: 0.6rem;
  font-size: 0.9rem;
>>>>>>> 0ec1a3b33b8dca9169724801caddbf96331d070d
}
