.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
}

.filter {
  background-color: #FF6060; // à ajuster selon ton design
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9em;
}
