.header-nav {
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  li {
    .nav-link {
      text-decoration: none;
      color: black;
      font-weight: 500;
      transition: text-decoration 0.2s ease-in-out;
      
      &:hover {
       
        color: #ff6060;
      }
    }
    
    .active {
     border-bottom: solid 2px black;
      font-weight: 700;
    }
  }
}