.header-nav {
  ul {
    list-style: none;
    display: flex;
    gap: 46px;
    //margin: 0;
    //padding: 0;
    //margin-left: 250px;
  }

  li {
    .nav-link {
      display: flex; /* permet l'affichage de border-bottom */
      text-decoration: none;
      color: black;
      font-weight: 500;
      transition: text-decoration 0.2s ease-in-out;
      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
      &:hover {
        color: #ff6060;
      }
    }
    
    .active {
     border-bottom: solid 0.16px black;
      font-weight: 700;
    }
  }
}





